body{
    margin : 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

.head{
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head h1{
    margin: 0;
    font-size: 2em;
}

.liste{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    background-color: cornflowerblue;
    min-width: 250px;
}

.liste li {
    text-align: center;
}

.liste a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.liste a:hover{
    background-color: #447cf4;
    color: #fff;
}

main{
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
}

section {
    background-color: #a5d6fa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

section h2{
    color: darkblue;
}





